@import "./../../global.scss";

.portfolio {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3em;
    color: $midnight;
    margin-top: 5vh;
    margin-bottom: 5vh;

    @include mobile {
      font-size: 2em;
      margin-top: 5vh;
      margin-bottom: 0;
    }
  }

  ul {
    margin: 20px;
    margin-left: 150px;
    padding: 0;
    list-style: none;
    display: flex;
    color: $midnight;
    font-size: 1.2em;
    @include mobile {
      margin: 10px 0;
      margin-top: 10vh;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; //future proof.
  }
  .container {
    @include mobile {
      width: 100%;
    }
    .item {
      display: flex;
      width: 40vw;
      height: 45vh;
      border-radius: 20px;
      border: 1px solid rgb(238, 208, 144);
      margin: 30px;
      margin-right: 100px;
      align-items: center;
      justify-content: center;
      color: #fff;
      position: relative;
      overflow: hidden;
      transition: 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 90%;
        height: 60%;
        margin: 0px auto;
        margin-top: 10vh;
      }
      .link {
        position: absolute;
        font-size: 1.3em;
        color: $white;
        text-decoration: none;
      }

      .code {
        left: 100px;
      }
      .webpage {
        right: 100px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      &:hover {
        background-color: $midnight;

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
