.contact {
  background-color: #fff;
  display: flex;

  .left {
    overflow: hidden;
    flex: 1;

    img {
      height: 100%;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    h2 {
      font-size: 2em;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 62%;
        height: 5%;
        font-size: 0.9em;
      }

      textarea {
        width: 62%;
        height: 40%;
      }

      button {
        width: 30%;
        height: 5%;
        color: #fff;
        background-color: burlywood;
        border: none;
        border-radius: 10%;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    p {
      color: greenyellow;
      font-weight: 600;
      font-size: 1.2em;
    }
  }
}
