$mainColor: #0e0e52;
$white: #fff;
$grey: #e9ecef;
$orange: #fe4a49;
$blue: #192bc2;
$navy: #150578;
$midnight: #0e0e52;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
